/*
Project Name: Blank Template
Client: Your Client
Author: Your Name
Developer @GA in NYC
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  color: #f0efef;
  font-size: 26px;
  line-height: 1.4;
  color: #606161;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 300;
}
a {
  text-decoration: none;
}


/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
.container {
  margin: 0 auto;
}

header nav{
  margin-top: 15px;
}

header nav ul{
  display: none;
}


header nav span{
 content:"";
 width:50px;
 height: 50px;
 display:block;
 margin: auto;
 background-color: yellow;
 background-image:url("../images/hamburger.png");
 
}


header nav:hover ul{
  display:block;
}

header {
  background: #033048;
  overflow: hidden;
}

header .logo {
  color: #fff;
}

header nav ul li {
  display: inline-block;
}

header nav ul li a {
  color: #f9e42e;
}

#hero {
  background: url(../images/header_bg.jpg) no-repeat top center #131e27;
}

#hero .logo {
  color: #fff;
}
#hero h2 {
  font-size: 48px;
  text-align: center;
  color: #fff;
  margin: 120px 0 90px;
  font-weight: 600;
}
.button {
  border-radius: 5px;
  font-weight: 800;
  padding: 12px 0;
  width: 280px;
  font-size: 28px;
  text-align: center;
  display: block;
  margin: 0 auto;
}
.yellow {
  background: #f9e42e;
  color: #033048;
}
.blue {
  background: #033048;
  color: #fff;
  font-size: 24px;
}


#testimonial {
  background: url(../images/testimonial_bg.jpg) no-repeat top center #071324;
  color: #fff;
}
blockquote {
  font-style: italic;
  text-align: center;
  margin: 0 auto;
}
blockquote span {
  font-style: normal;
}


#posts {
  vertical-align: top;
}

#sidebar {
  vertical-align: top;
}

.post {
  border-bottom: 1px solid #043049;
}

.post h2 a {
  color: #043049;
}

.post p {
  color: #606161;
}

.readmore a {
  color: #043049;
  font-weight: 600;
}

/*.button {
  border-radius: 5px;
  font-weight: 800;
  padding: 12px 0;
  width: 280px;
  font-size: 28px;
  text-align: center;
  display: block;
  margin: 0 auto;
}
.yellow {
  background: #f9e42e;
  color: #033048;
}
.blue {
  background: #033048;
  color: #fff;
  font-size: 24px;
}*/

#sidebar h3 {
  color: #043049;
}


#sidebar ul li a {
  color: #043049;
}


#sidebar p a {
  color: #043049;
  font-weight: 600;
}

#bottom-cta {
  background: #f9e42e;
  text-align: center;
}

footer {
  background: #121212;
  text-align: center;
}

footer .logo {
  color: #f9e42e;
}

footer ul li {
  display: inline-block;
  list-style: none;
}

footer p {
  color: #fff;
  font-weight: 600;
}



